@import url('http://fonts.googleapis.com/css?family=Quicksand:300');
body{
    font-family: 'Quicksand', sans-serif;
}
main{
    flex-direction: column;
    margin-top:70px;
    height:100%;
}
.container-sm{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 25%;
    margin-bottom: auto;
    width: 100vh;
    border:2px solid #D68FD6;
    margin: 5px;
    padding: 5px;
}