<h1>Activation de votre compte</h1>
<p> Super ! Vous allez rejoindre la communauté Gameet ! Il vous suffit de cliquer sur le lien suivant pour activer votre compte</p>
<p><a href="{{  url('activation', {'token':token} ) }}">Activer mon compte</a></p>
